
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>O'NEIL</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/oneil.jpg' %}" >
					<hr>
					<h4>Hi I'm O'NEIL KIMBI</h4>
					<p>DevOps Engineer | Full Stack Developer With Python(Django)</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>about me</h4>
					<hr>
					<p>DevOps engineer | Full Stack Developer with Python(Django). Having with 5 years of experience
					 and about hundreds of projects currently being consumed in the finance and IT sector. 
					 I emphasize on the need to understand the basics and advocate for full automation to save 
					 time and avoid unnecessary human errors. I can be so demanding at times, but the end product
					  always brings joy to the room. I am willing to challenge myself in any project you deem
					   complicated or needs extra efforts to go through. From deadline pressure projects in
					    the finance industry in Africa, to continuous development projects in the telecom 
						industry in India and Europe, i can proudly say i am the next guy that will push your
						 DevOps and general IT team to their extensive know-how. If the project is a challenging 
						 one, leave me a message here in LinkedIn or call me directly, in no time, the solution 
						 will be delivered..</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Web developer at ........</p>
					<p>Built and managed a phamarcy management system as a sole developer. System supported thousands of customers with a UI for pharmacy Admins and a customer dashboard.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>WHAT I KNOW</h5>
					<hr>
					<p>Python, Django, Git, Maven, Jenkins, Docker, Kbanetes, Ansible, Nagios, Teraform, MySQL  HTML/CSS and  APIs  ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer and Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After three years working as Developer. I went on to learn DevOps on AWS and start a new career as a DevOps engineer two years ago</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>